{% extends 'base.html.twig' %}

{% block title %}Alumnos matriculados en {{ subject.name }}{% endblock %}

{% block body %}
    <h1> El listado de los alumnos matriculados en {{ subject.name }} es: </h1>
        {% for student in students %}
            <li>Nombre Alumno: {{ student.name }} con ID: {{ student.id }}</li>
        {% endfor %}
        <hr>
            <a href="{{ path('all_subjects') }}"> Volver al Listado de Asignaturas </a>
{% endblock %}