<!DOCTYPE html>
<html>
    <head>
        <title>Operacion {{operacion}}</title>
    </head>
    <body>
        <h1> La {{ operacion }} de {{numero1}} y {{numero2}} es {{ resultado }} </h1>
    </body>
</html>